<template>
    <tr @click="$emit('rowClick', row)"
        @mouseenter="$emit('mouseEnter')"
        @mouseleave="$emit('mouseLeave')">
        <td v-if="reorderable" class="draggable__td"></td>
        <table-cell
            v-for="(column, index) in visibleColumns"
            :row="row"
            :column="column"
            :key="column.id"
        ></table-cell>
    </tr>
</template>

<script>
    import TableCell from './TableCell';


    export default {
        props: ['columns', 'row', 'reorderable'],
        components: {
            TableCell,
        },

        computed: {
            visibleColumns() {
                return this.columns.filter(column => !column.hidden);
            },
        },

    };
</script>

