<template>
    <div :class="['table-component', { draggable__table:reorderable }]" ref="table">
        <div class="table-component__table-wrapper fixedHeader"
             ref="fixedHeaderWrapper"
             v-show="headerIsFixed"
             v-if="scrollable">
            <table :class="fullTableClass">
                <thead :class="fullTableHeadClass" ref="fixedHeader">
                <tr>
                    <table-column-header
                        v-for="column in columns"
                        :key="column.show"
                        :column="column"
                    ></table-column-header>
                </tr>
                </thead>
                <tbody :class="fullTableBodyClass" v-if="fixedRowDataIsAvailable" ref="fixedRowElement">
                <table-row
                    :row="fixedRowData"
                    :columns="columns"
                    @rowClick="emitRowClick"
                >
                </table-row>
                </tbody>
            </table>
            <div class="table-component__table-wrapper lastColumn" v-if="fixedLastColumn" ref="fixedHeaderLastColumn">
                <table :class="fullTableClass">
                    <thead :class="fullTableHeadClass">
                    <tr>
                        <table-column-header
                            v-if="columns.length > 0"
                            :key="lastColumn.show"
                            :column="lastColumn"
                        ></table-column-header>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div :class="['table-component__table-wrapper', {'mainTable':fixedLastColumn}]"
             ref="mainTable"
             @scroll="setScrollLeftPosition">
            <table :class="fullTableClass">
                <thead :class="fullTableHeadClass">
                <tr>
                    <th class="draggable__th" v-if="reorderable"></th>
                    <table-column-header
                        v-for="column in columns"
                        :key="column.show"
                        :column="column"
                    ></table-column-header>
                </tr>
                </thead>
                <draggable :class="['draggable__wrapper', fullTableBodyClass]"
                           v-if="reorderable"
                           ref="draggable"
                           handle=".draggable__td"
                           tag="tbody"
                           :list="displayedRows"
                           @end="onDragEnd">
                    <table-row
                        :class="[{hovered:hoveredTr === index}]"
                        v-for="(row, index) in displayedRows"
                        :key="row.vueTableComponentInternalRowId"
                        :row="row"
                        :reorderable="reorderable"
                        :columns="columns"
                        @rowClick="emitRowClick"
                        @mouseEnter="setHoveredTr(index)"
                        @mouseLeave="setHoveredTr(null)"
                    >
                    </table-row>
                </draggable>
                <tbody :class="fullTableBodyClass" v-else>
                <table-row
                    :class="{fixedRow: !headerIsFixed}"
                    v-if="fixedRowDataIsAvailable"
                    :row="fixedRowData"
                    :columns="columns"
                    @rowClick="emitRowClick"
                >
                </table-row>
                <table-row
                    :class="[{hovered:hoveredTr === index}]"
                    v-for="(row, index) in displayedRows"
                    :key="row.vueTableComponentInternalRowId"
                    :row="row"
                    :columns="columns"
                    :reorderable="reorderable"
                    @rowClick="emitRowClick"
                    @mouseEnter="setHoveredTr(index)"
                    @mouseLeave="setHoveredTr(null)"
                >
                </table-row>
                </tbody>
                <tfoot>
                <slot name="tfoot" :rows="rows"></slot>
                </tfoot>
            </table>
            <scroll-loader v-if="scrollPagination && hasMorePages" :loader-method="loadMore" :loader-distance="300">
                <slot name="loader"></slot>
            </scroll-loader>
        </div>

        <div v-if="fixedLastColumn" ref="lastColumn" class="table-component__table-wrapper lastColumn">
            <table :class="fullTableClass">
                <thead :class="fullTableHeadClass">
                <tr>
                    <table-column-header
                        v-if="columns.length > 0"
                        :key="lastColumn.show"
                        :column="lastColumn"
                    ></table-column-header>
                </tr>
                </thead>
                <tbody :class="fullTableBodyClass">
                <table-row
                    :class="[{hovered:hoveredTr === index}]"
                    v-for="(row, index) in displayedRows"
                    :key="row.vueTableComponentInternalRowId"
                    :row="row"
                    :columns="[lastColumn]"
                    @rowClick="emitRowClick"
                    @mouseEnter="setHoveredTr(index)"
                    @mouseLeave="setHoveredTr(null)"
                >
                </table-row>
                </tbody>
            </table>
        </div>

        <div v-if="displayedRows.length === 0 && !hasMorePages" class="table-component__message" slot="emptyText">
            <div v-if="$slots.emptyText">
                <slot name="emptyText"></slot>
            </div>
            <span v-else>{{ filterNoResults }}</span>
        </div>

        <div style="display:none;">
            <slot></slot>
        </div>

        <pagination v-if="pagination" :pagination="pagination" @pageChange="pageChange"></pagination>
    </div>
</template>

<script>
    import Column from '../classes/Column';
    import Row from '../classes/Row';
    import TableColumnHeader from './TableColumnHeader';
    import TableRow from './TableRow';
    import settings from '../settings';
    import Pagination from './Pagination';
    import {classList} from '../helpers';
    import draggable from 'vuedraggable';

    export default {
        components: {
            TableColumnHeader,
            TableRow,
            Pagination,
            draggable,
        },

        props: {
            data: {default: () => [], type: [Array, Function]},

            cacheKey: {default: null},
            cacheLifetime: {default: 5},

            tableClass: {default: () => settings.tableClass},
            theadClass: {default: () => settings.theadClass},
            tbodyClass: {default: () => settings.tbodyClass},

            filterNoResults: {default: () => settings.filterNoResults},

            reorderable: {
                default: false,
                type: Boolean,
            },
            fixedLastColumn: {
                default: false,
                type: Boolean,
            },
            scrollable: {
                default: false,
                type: Boolean,
            },
            scrollPagination: {
                default: false,
                type: Boolean,
            },
            fixedRow: {
                default: () => {
                },
                type: Object,
            },
            hasMorePages: {
                default: true,
                type: Boolean,
            },
        },

        data: () => ({
            dragging: false,
            columns: [],
            rows: [],
            pagination: null,
            fixedRowData: {},
            localSettings: {},
            headerIsFixed: false,
            hoveredTr: null,
        }),

        async mounted() {
            const columnComponents = this.$slots.default
                .filter(column => column.componentInstance)
                .map(column => column.componentInstance);

            this.columns = columnComponents.map(
                column => new Column(column),
            );

            columnComponents.forEach(columnCom => {
                Object.keys(columnCom.$options.props).forEach(
                    prop => columnCom.$watch(prop, () => {
                        this.columns = columnComponents.map(
                            column => new Column(column),
                        );
                    }),
                );
            });

            await this.mapDataToRows();
            this.updateUI();
            if (this.scrollable) {
                window.addEventListener('scroll', this.updateUI);
                window.addEventListener('resize', this.updateUI);
                window.addEventListener('load', this.updateUI);
            }
        },
        beforeDestroy() {
            if (this.scrollable) {
                window.removeEventListener('scroll', this.updateUI);
                window.removeEventListener('resize', this.updateUI);
                window.removeEventListener('load', this.updateUI);
            }
        },

        watch: {
            data() {
                if (this.usesLocalData) {
                    this.mapDataToRows();
                    this.updateLastColumn();
                }
            },
            headerIsFixed(value) {
                if (value) {
                    this.setFixedHeaderStyles();
                    this.setScrollLeftPosition();
                }
            },
        },

        computed: {
            fullTableClass() {
                return classList('table-component__table', this.tableClass);
            },

            fullTableHeadClass() {
                return classList('table-component__table__head', this.theadClass);
            },

            fullTableBodyClass() {
                return classList('table-component__table__body', this.tbodyClass);
            },

            usesLocalData() {
                return Array.isArray(this.data);
            },

            displayedRows() {
                return this.rows;
            },

            storageKey() {
                return this.cacheKey
                    ? `vue-table-component.${this.cacheKey}`
                    : `vue-table-component.${window.location.host}${window.location.pathname}${this.cacheKey}`;
            },
            mainTable() {
                return this.$refs.mainTable;
            },
            fixedHeader() {
                return this.$refs.fixedHeader;
            },
            fixedRowElement() {
                return this.$refs.fixedRowElement;
            },
            fixedHeaderWrapper() {
                return this.$refs.fixedHeaderWrapper;
            },
            lastColumn() {
                return this.columns[this.columns.length - 1];
            },
            fixedRowIsAvailable() {
                return this.fixedRow && Object.keys(this.fixedRow).length !== 0;
            },
            fixedRowDataIsAvailable() {
                return Object.keys(this.fixedRowData).length !== 0;
            },
        },

        methods: {
            async pageChange(page) {
                this.pagination.currentPage = page;

                await this.mapDataToRows();
            },

            async mapDataToRows() {
                const data = this.usesLocalData
                    ? this.prepareLocalData()
                    : await this.fetchServerData();

                let rowId = 0;

                this.rows = data
                    .map(rowData => {
                        rowData.vueTableComponentInternalRowId = rowId++;
                        return rowData;
                    })
                    .map(rowData => new Row(rowData, this.columns));
                if (this.fixedRowIsAvailable) {
                    this.fixedRowData = new Row(this.fixedRow, this.columns);
                }
            },

            prepareLocalData() {
                this.pagination = null;

                return this.data;
            },

            async fetchServerData() {
                const page = this.pagination && this.pagination.currentPage || 1;

                const response = await this.data({
                    page: page,
                });

                this.pagination = response.pagination;

                return response.data;
            },

            async refresh() {
                await this.mapDataToRows();
            },

            getColumn(columnName) {
                return this.columns.find(column => column.show === columnName);
            },

            emitRowClick(row) {
                this.$emit('rowClick', row);
                this.$emit('row-click', row);
            },
            onDragEnd(event) {
                if (event.oldIndex !== event.newIndex) {
                    this.$emit('dragEnd', {
                        old: event.oldIndex,
                        new: event.newIndex,
                    });
                }
            },
            setTableStyles() {
                if (this.fixedRowIsAvailable && this.mainTable.offsetWidth < this.fixedRowElement.offsetWidth) {
                    this.setMainTableStyles();
                } else {
                    this.setFixedHeaderStyles();
                }
            },
            setMainTableStyles() {
                let mainTableThs = this.mainTable.querySelectorAll('th');

                if (this.fixedRowIsAvailable && this.mainTable.offsetWidth < this.fixedRowElement.offsetWidth) {
                    this.fixedRowElement.querySelectorAll('td').forEach((element, index) => {
                        this.mainTable.style.width = `${this.fixedHeaderWrapper.offsetWidth}px`;

                        if (mainTableThs[index]) {
                            mainTableThs[index].style.width = `${element.offsetWidth}px`;
                            mainTableThs[index].style.minWidth = `${element.offsetWidth}px`;
                        }
                    });
                }
            },
            setFixedHeaderStyles() {
                if (this.$refs.fixedHeaderLastColumn) {
                    let fixedHeaderThs = this.fixedHeader.querySelectorAll('th');

                    this.mainTable.querySelectorAll('th').forEach((element, index) => {
                        this.fixedHeaderWrapper.style.width = `${this.mainTable.offsetWidth}px`;

                        if (fixedHeaderThs[index]) {
                            fixedHeaderThs[index].style.width = `${element.offsetWidth}px`;
                            fixedHeaderThs[index].style.minWidth = `${element.offsetWidth}px`;
                            if (this.fixedLastColumn) {
                                let fixedHeaderLastColTh = this.$refs.fixedHeaderLastColumn.querySelectorAll('thead > tr > th');
                                fixedHeaderLastColTh[fixedHeaderLastColTh.length - 1].style.minWidth = `${element.offsetWidth}px`;
                            }
                        }
                    });
                }
            },
            setFixedHeaderVisibility() {
                let mainTablePosY = this.mainTable.getBoundingClientRect().y;
                if (mainTablePosY <= 0 && !this.headerIsFixed) {
                    this.headerIsFixed = true;
                } else if (mainTablePosY > 0 && this.headerIsFixed) {
                    this.headerIsFixed = false;
                }
            },
            setScrollLeftPosition() {
                if (this.scrollable && this.fixedHeaderWrapper) {
                    this.fixedHeaderWrapper.style.left = `${this.mainTable.getBoundingClientRect().left}px`;
                    this.fixedHeaderWrapper.scrollLeft = this.mainTable.scrollLeft;
                    if (this.fixedLastColumn && this.$refs.fixedHeaderLastColumn) {
                        this.$refs.fixedHeaderLastColumn.style.transform = `translateX(${this.mainTable.scrollLeft}px)`;
                    }
                }
            },
            setHoveredTr(index) {
                this.hoveredTr = index;
            },
            loadMore() {
                this.$emit('loadMore');
            },

            updateUI() {
                this.setFixedHeaderVisibility();
                this.setTableStyles();
                this.setScrollLeftPosition();
                this.updateLastColumn();
            },

            updateLastColumn() {
                if (this.fixedLastColumn) {
                    this.$nextTick(() => {
                        const mainTableTrs = this.mainTable.querySelectorAll('tbody > tr');

                        this.$refs.lastColumn.querySelectorAll('tbody > tr').forEach((element, index) => {
                            element.style.height = `${mainTableTrs[index].offsetHeight}px`;
                        });
                    });
                }
            },
        },

    };
</script>
