<template>
    <th
        @click="clicked"
        :class="headerClass"
        role="columnheader"
        slot-scope="col"
        v-if="this.isVisible"
    >
        {{ label }}
    </th>
</template>

<script>
    import { classList } from '../helpers';

    export default {
        props: ['column'],

        computed: {
            headerClass() {
                return classList('table-component__th', this.column.headerClass);
            },

            isVisible() {
                return ! this.column.hidden;
            },

            label() {
                if (this.column.label === null) {
                    return this.column.show;
                }

                return this.column.label;
            },
        },

        methods: {
            clicked() {
                this.$emit('click', this.column);
            },
        },
    };
</script>
