<html>
<head>
    <title>vue-table-component</title>
    <link href="table-component.css" rel="stylesheet">
    <style>
        body {
            background-color: #efefef;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
            font-size: 16px;
            padding: 1em;
        }

        .page {
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 20px rgba(0, 0, 0, .025);
            margin: 0 auto;
            max-width: 66em;
            padding: 4em 2em;
        }

        @media (min-width: 700px) {
            .page {
                padding: 4em;
            }
        }

        .page-title {
            font-size: 2.4rem;
            margin-bottom: 1em;
        }

        .page-title a {
            color: inherit;
            text-decoration: none;
        }

        .page-title a:hover {
            color: #007593;
        }

        .page-subtitle {
            font-size: 1.25rem;
            margin-bottom: 1em;
            padding-top: .25em;
        }

        .page-about {
            background-color: #d1e8eb;
            margin: 0 -2em;
            padding: 2em 1em;
        }

        @media (min-width: 700px) {
            .page-about {
                border-radius: 3px;
                margin: 0;
                padding: 2em;
            }
        }

        .page-about h2 {
            color: #003345;
        }

        .page-about p {
            color: #003345;
            line-height: 1.45;
            margin-bottom: 1em;
        }

        .page-about a {
            color: #007593;
        }

        .page-about code {
            background-color: rgba(255, 255, 255, .75);
            border-radius: 3px;
            padding: 0 .25em;
        }

        .page-outro {
            color: #999;
            display: block;
            margin-top: 4em;
            text-align: center;
        }

        .page-outro a {
            color: #999;
        }

        .prefix,
        .suffix {
            align-items: center;
            border-radius: 1.25rem;
            display: flex;
            font-size: .75rem;
            flex-shrink: 0;
            height: 1.25rem;
            justify-content: center;
            line-height: 1.25rem;
            min-width: 1.25rem;
            padding: 0 .1em;
        }

        .prefix {
            background-color: #d1e8eb;
            color: #0c5174;
            margin-right: .35em;
        }

        .suffix {
            background-color: #c03;
            color: #fff;
            margin-left: .35em;

        }

        @media (min-width: 700px) {
            .suffix {
                position: absolute;
                right: -.725em;
                top: -.725em;
            }
        }
    </style>
</head>
<body>
    <article id="app" class="page">
        <h1 class="page-title">
            <a href="https://github.com/spatie/vue-table-component">Vue-table-component</a>
        </h1>
        <table-component
            :data="[
            { firstName: 'John', lastName: 'Lennon', instrument: 'Guitar', birthday: '04/10/1940', songs: 72 },
            { firstName: 'Paul', lastName: 'McCartney', instrument: 'Bass', birthday: '18/06/1942', songs: 70 },
            { firstName: 'George', lastName: 'Harrison', instrument: 'Guitar', birthday: '25/02/1943', songs: 22 },
            { firstName: 'Ringo', lastName: 'Starr', instrument: 'Drums', birthday: '07/07/1940', songs: 2 },
            ]"
            sort-by="songs"
            sort-order="asc"
            >
            <table-column show="firstName" label="First name">
                <template slot-scope="artist">
                    <div>
                        {{ artist.firstName }}
                    </div>
                </template>
            </table-column>
            <table-column show="lastName" label="Last name"></table-column>
            <table-column show="instrument" label="Instrument"></table-column>
            <table-column show="songs" label="Songs" data-type="numeric"></table-column>
            <table-column bold-cell cell-class="asd" show="birthday" label="Birthday" data-type="date:DD/MM/YYYY"></table-column>
            <table-column :sortable="false" :filterable="false">
                <template slot-scope="artist">
                    <a :href="'#' + artist.firstName.toLowerCase()">
                        Edit
                    </a>
                </template>
            </table-column>
            <template slot="tfoot" slot-scope="{ rows }">
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Total Songs:</th>
                    <th>{{ rows.reduce((sum, value) => { return sum + value.data.songs; }, 0) }}</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </template>
        </table-component>

    <section class="page-about">
        <h2 class="page-subtitle">About</h2>
        <p>
            The table component above is powered by <a href="https://github.com/spatie/vue-table-component">spatie/vue-table-component</a>.
            <br>
            The component allows for straightforward and lightweight <strong>sorting</strong> and <strong>filtering</strong> of table data.</p>

            <p>The component will also remember the state when you reload or return to the same page within 15 min.
            </p>
        </section>

        <small class="page-outro">
            <a href="https://github.com/spatie/vue-table-component">Code on GitHub</a> |
            Proudly presented by <a href="https://spatie.be">spatie.be</a>
        </small>
    </article>

    <script src="build/app.js"></script>
</body>
</html>
